<div class="py-md-5 mb-5 container-fluid container-fluid-custom">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          Write Your Important Notes
        </h1>
        <p class="fs-4 mb-4">
          Notes is the simple use to making with ejs mongo db
        </p>
        <a href="/auth/google" class="btn btn-primary btn-lg btn-index">Try Notes Yard, It's free</a>
      </div>
    </div>
  </main>
</div>